<h1>Editing Youtube Channel Review</h1>

<%= render 'form', youtube_channel_review: @youtube_channel_review %>

<%= link_to 'Show', @youtube_channel_review %> |
<%= link_to 'Back', youtube_channel_reviews_path %>
